*.csv filter=lfs diff=lfs merge=lfs -text
/Users/shreya/Documents/gitlfs/dashappdata.csv filter=lfs diff=lfs merge=lfs -text
/Users/shreya/Documents/gitlfs/usaccidentdata/dashappdata.csv filter=lfs diff=lfs merge=lfs -text
